NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_SERVER_URL=http://localhost:5002
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51RHJLCQs0ndKLBTwqpAxnFe7KojNi0VMxlgkcF0Cdno8gEhARVwz84MAWjZFnlGlgxGDMZswXIVHioZzTc38K73t00VxKv7YXI
REVALIDATE_SECRET_TOKEN=gb_revalidate_secret
